<div class="main">
  <div class="box">
    <h2><%= @employee.name %></h2>
    <% tips = 0 %>
    <ul>
    <% @employee.parties.each do |party| %>
      <li><a href="/parties/<%= party.id %>">Table: <%= party.table_number %></a></li>  
      <% if party.tip %>
        <li>Tip: <%= currency(party.tip) %></li>
        <% tips += party.tip %>
      <% else %>
        <li>In progress</li>
        <br>
      <% end %>  
    <% end %>
    </ul>
    <br>
    <p>Total tips: <%= currency(tips) %></p> 
    <br>
  </div>
</div>
<div class="button">
  <a href="/parties/new">Add party</a>  
</div>