<h2>Menu</h2>

<h3>Appetizers</h3>
<ul>
  <% @foods.each do |food| %>
  <% if food.course_type == "Appetizer" %>
    <li><a href="/foods/<%= food.id %>"><%= food.name %></a></li> 
    <% end %>
  <% end %>
</ul><br>

<h3>Entrees</h3>
<ul>
  <% @foods.each do |food| %>
  <% if food.course_type == "Entree" %>
    <li><a href="/foods/<%= food.id %>"><%= food.name %></a></li> 
    <% end %>
  <% end %>
</ul><br>

<h3>Desserts</h3>
<ul>
  <% @foods.each do |food| %>
  <% if food.course_type == "Dessert" %>
    <li><a href="/foods/<%= food.id %>"><%= food.name %></a></li> 
    <% end %>
  <% end %>
</ul>

<a href="/foods/new">Create a new menu item</a>