<div class="main">
  <div class="box">
    <h2><%= @food.name %></h2>

    <p><%= @food.description %></p>

    <p>Allergens: <p>
    <ul>
    <% @food.allergens.each do |allergen| %>
      <li><%= allergen.name %></li>
    <% end %>
    </ul>

    <p>Course: </p>
    <p><%= @food.course_type %></p><br>
    <p><%= currency(@food.price) %></p>
  </div>
  <div class="button">
    <a href="/foods/<%= @food.id %>/edit">Change the Menu Item</a>
</div>
</div>