<div class="main">
<h2><%= @food.name %></h2>

<p><%= @food.description %></p>

<p>Allergens: <p>
<ul>
<% @food.allergens.each do |allergen| %>
  <li><%= allergen.name %></li>
<% end %>
</ul>

<p>Course: </p>
<p><%= @food.course_type %></p><br>
<p>$<%= @food.price %></p>

<a href="/foods/<%= @food.id %>/edit">Change the Menu Item</a>
</div>