<div class="main box">
  <h2>Party is seated at table number <%= @party.table_number %></h2>

  <p><%= @party.people %> top</p>

  <p>Server: <%= @party.employee.name %></p>
  <% if @party.paid %> 
    <p>This party has paid.</p>
  <% else %> 
    <p>This party has not paid.</p>
  <% end %>
    
  <% if @party.orders %>
    <p>Table <%= @party.table_number %> ordered:</p>
    <% @foods.each do |food|  %>
      <% orders = Order.where(party_id: @party.id, food_id: food.id).to_a %>
        <p><%= food.name %><p>
    <% end %>
  <% else %>
    <p>Table <%= @party.table_number %> has not ordered yet</p> 
  <% end %>
</div>
 
<div class="button">
  <a href="/parties/<%= @party.id %>/receipt">See this party's receipt</a><br>
</div>
<div class="button">
  <a href="/parties/<%= @party.id %>/edit">Edit this party</a>
</div>